.emailList{
    flex: 1;
    overflow: scroll;
}

/* Hide scrollbar for chrome, safari and opera */
.emailList::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.emailList{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emailList__settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background: white;
    position: sticky;
    top: 0;
}

.emailList__sections{
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    border: 1px solid whitesmoke;
    z-index: 999;
}
